<!-- templates/dashboard.html -->
{% extends 'base.html' %}
{% block title %} Dashboard {% endblock %}
{% block content %}
<link rel="stylesheet" href="/static/CSS/dashboard.css">
    <h1>Welcome, {{ user }}!</h1>
    <p>This is your dashboard.</p>

    <!-- Example cards -->
    <div class="row">
        <div class="col-md-4">
            <div class="card shadow p-3 mb-3">
                <h5>Total Sales</h5>
                <p>$0</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card shadow p-3 mb-3">
                <h5>Products</h5>
                <p>0</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card shadow p-3 mb-3">
                <h5>Orders</h5>
                <p>0</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}